<!DOCTYPE html>
<html>
<head>
{% include 'head.html' %}
</head>
<body class="flex flex-col items-center justify-center h-screen w-screen">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
            
     
      
      <div id="content_desktop" class="d-none d-sm-block">

        <br><br><br> <br><br><br>
        <div class="text-center">  
          <h1>Tezotopia landing page</h1>
          <br>
          <h3>1/ Download ALtMe to your smartpĥone</h2><br>
          <h3>2/ Associate your crypto wallet address with AltMe</h2><br>
       
            <form name="form" action="/voucher/{{voucher_id}}" method="POST">
           
                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Activate to get your voucher</button></div>
          </form>                   
            </div>

       
          
        </div>
       
      
      </div>
    

    <div id="content_smartphone" class="d-block d-sm-none"> 
      {% include 'nav_bar.html' %}
      <div class="card shadow mx-1">
        <a href="{{deeplink}}" class="bg-transparent">
        <img src="/static/img/tezotopia_voucher.png" class="card-img-top mt-3">
        </a>
        <div class="card-body">
            <div class="text-center">
                <p class="card-text">{{_('Clic on this card to get your voucher')}}</p>
            </div>
        </div>
      </div>  
      {% include 'footer.html' %}
    </div>

   
</div>
</div>
</div>
     


<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>
</html>