<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body class="flex flex-col items-center justify-center h-screen w-screen">

    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                 {% include 'nav_bar.html' %}
     
      
      <div id="content_desktop" class="d-none d-sm-block">
        <br><br><br>
        <div class="text-center">       
          <p>{{_('Scan the QRCode below with your Talao wallet')}}</p>
          <div class="my-3"><img src="{{qrcode(url)}}" style="width: 250px;border-radius:0px;"></div>
        </div>
        <div class="col text-center mt-2">
          <button class="btn btn-primary btn-sm" type="button" value="download" onclick="goBack()">{{_('Back')}}</button>
        </div>
      </div>
    

      <div id="content_smartphone" class="d-block d-sm-none mt-5"> 
        <div class="card shadow mx-1">
        <img src="/static/img/phoneproof.png" class="card-img-top mt-3"> 
          <div class="card-body">
            <div class="text-center">
              <div class="text-center my-1 p-3">
              <p>{{_('Clic below to get your proof of phone number into your wallet')}} </p>
                <div class="col mb-3">
                      <a href="{{deeplink_talao}}" class="bg-transparent" style="text-decoration: none;">
                      Talao wallet <img src="/static/img/talao.png"  style="width: 50px;">
                      </a><br><br>
                      <a href="{{deeplink_altme}}" class="bg-transparent" style="text-decoration: none;">
                      AltMe wallet   <img src="/static/img/altme.png"  style="width: 25px;">
                      </a><br>                   
                </div>
              </div>      
            </div>
          </div>
        </div>  
      </div>


</div>
</div>
</div>
        {% include 'footer.html' %}

<script>function goBack() {  window.history.back();}</script>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<script>
var source = new EventSource('/phonepass/stream');
source.onmessage = function (event) {
     const result = JSON.parse(event.data)
     if (result.url_id == '{{id}}' ){
       window.location.href="/phonepass/end?followup=" + result.check;
     }
};
</script>
</body>
</html>