<!DOCTYPE html>
<html>
  
  <head>
    {% include 'head.html' %}
   
  </head>
  <body class="flex flex-col items-center justify-center h-screen w-screen">

    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                 {% include 'nav_bar.html' %}
      <br>
      
      <div id="content_desktop" class="d-none d-sm-block">
        <div class="text-center"       
        <p>{{_('Scan the QRCode below with your Talao or AltMe wallet')}}</p>
          <div class="my-2"><img src="{{qrcode(url)}}" style="width: 250px;border-radius:0px;"></div>
        </div>
       
        <div class="col text-center">
          <button class="btn btn-primary btn-sm" type="button" value="download" onclick="goBack()">{{_('Back')}}</button>
      </div>
      </div>

      <div id="content_smartphone" class="d-block d-sm-none">
        <div class="card shadow">

         
          <img src="/static/img/over18.png" class="card-img-top mt-3">
            
        


            <div class="text-center my-1">
              <p>
                {{_('Clic below to get it into your wallet')}}
              </p>
            
                <div class="col mb-3">
                  <a href="{{deeplink_talao}}" class="bg-transparent shadow" style="text-decoration: none;">
                  Talao wallet <img src="/static/img/talao.png"  style="width: 50px;">
                  </a>
                <br><br>
                    <a href="{{deeplink_altme}}" class="bg-transparent shadow" style="text-decoration: none;">
                    AltMe wallet   <img src="/static/img/altme.png"  style="width: 25px;">
                        </a>
                        <br>
                 
          </div>
          
      </div> 
     
    </div>

        {% include 'footer.html' %}

<script>function goBack() {  window.history.back();}</script>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<script>

var source = new EventSource('/passbase/stream');
source.onmessage = function (event) {
     const result = JSON.parse(event.data)
     console.log(result);
     if (result.check == 'success' & result.id == '{{session["sid"]}}' ){
       console.log('success');
       window.location.href="/passbase/back?followup=success";
     } 
     if (result.check == 'failed' & result.id == '{{session["sid"]}}' ){
       console.log('failed');
       window.location.href="/passbase/back?followup=failed&message=" + result.message;
     }
};


</script>
  </body>
</html>