<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}   
  </head>
  <body class="flex flex-col items-center justify-center h-screen w-screen">
    <div id="wrapper">
      <div class="d-flex flex-column " id="content-wrapper">
        <div id="content">
 <!--       {% include 'nav_bar.html' %}   -->
      
      
     
      <div id="content_desktop" class="d-none d-sm-block mt-5">
        <div class="row">
          <div class="col-2 offset-5">
            <div class="text-center">  
            <div class="card shadow border-dark mt-5" >
              <img class="card-img-top p-3" src="{{ qrcode(url) }}">
              <div class="card-body">
                <h6 class="card-title">{{_('Scan the QR Code with your wallet')}}</h6>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      <div id="content_smartphone" class="d-block d-sm-none mt-5"> 
      
        <a href="{{deeplink_altme}}"><img src="/static/img/emailproof.png" class="card-img-top mt-3 p-3"></a>
       
            <div class="text-center">
              <div class="text-center my-1 p-3">
                <a href="{{deeplink_altme}}" class="bg-transparent" style="text-decoration: none;">{{_('Click here to get your proof of email into your wallet')}} </p>
                <div class="col mb-3"></a>
                   <!--   <a href="{{deeplink_talao}}" class="bg-transparent" style="text-decoration: none;">
                      Talao wallet <img src="/static/img/talao.png"  style="width: 50px;">
                      </a><br><br> 
                      <a href="{{deeplink_altme}}" class="bg-transparent" style="text-decoration: none;">
                      AltMe wallet   <img src="/static/img/altme.png"  style="width: 25px;">
                      </a><br>         -->          
                </div>
              </div>      
          
        
        </div>  
      </div>


    </div>
  </div>
</div>
        {% include 'footer.html' %}

<script>function goBack() {  window.history.back();}</script>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs-init.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<script>
var source = new EventSource('/emailpass/stream');
source.onmessage = function (event) {
     const result = JSON.parse(event.data)
     if (result.id == "{{id}}" ){
       window.location.href="/emailpass/end?followup=" + result.check;
     }
};
</script>
</body>
</html>