<!DOCTYPE html>
<!-- bloometa.html -->
<html>

<head>
    {% include 'head.html' %}

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-lg-4">
                <br><br><br>

                <div class="card shadow o-hidden border-0 my-5" style="color: rgb(133,135,150);">

                    <div class="card-body p-0">
                                <div class="m-5">
                                    <div class="text-center"><h4 class="text-dark mb-4" >{{_('Get an Bloometa card')}}</h4></div>

                                    <form name="form" class="user" action="/bloometa" method="post">
                                        <div class="form-group">
                                            <input  class="form-control" type="text" placeholder="Your username (Optional)"  name="alternateName" style="color: rgb(133,135,150);">
                                        </div>
                                        
                                        <div class="form-group mt-2">
                                            <input class="form-control" type="text" placeholder="Your discord account (Optional)"  name="discordAccount" style="color: rgb(133,135,150);">
                                        </div>

                                        <div class="form-group mt-2">
                                            <input  class="form-control" type="text" placeholder="Your twitter account (Optional)"  name="twitterAccount" style="color: rgb(133,135,150);">
                                        </div>

                                        <button  id="in_progress_button" style="background-color: #500bf5;" class="btn btn-block text-white border rounded btn-user" type="submit">{{_('Next')}}</button>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% include 'footer.html' %}
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
