<!DOCTYPE html>
<html>
  <head>{% include 'head.html' %}</head>
  <body>

      <div class="text-center my-5">  
          <h1 class="mb-2">QRcode for test</h1>
          <h4>Scan the QRCode below with your wallet </h4> 
          <div class="my-5"><img src="{{ qrcode(url) }}"></div>
          <button  type="button"  onclick="goBack()">Back</button>
      </div>

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>             
    <script>function goBack() {  window.history.back();}</script> 
  
  </body>
</html>