<!DOCTYPE html>
<html>
<head>
{% include 'head.html' %}
</head>
<body class="flex flex-col items-center justify-center h-screen w-screen">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
            
     
      
      <div>

        <br><br><br> <br><br><br>
        <div class="text-center">  
          <h1>Talao community landing page</h1>
          <br>
          <h3>1/ Download AltMe to your smartpĥone</h2><br>
          <h3>2/ Associate your crypto wallet address with AltMe</h2><br>
           
            <form name="form" action="/talao_community" method="POST">
               <!-- <div class="form-group"><label>simulate a Tezos associated address :  </label><input type="text" name="address"></div> -->
                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Next to get your Talao community card with AltMe</button></div>
          </form>                   
            </div>

       
          
        </div>
       
      
      </div>
    


   
</div>
</div>
</div>
     


<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>
</html>